<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Coffee vending machine</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form id="order-form" th:object="${coffeeOrder}" method="POST" th:action="@{/order}">
    <div class="row">
        <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Elija su café</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-4"><h4>Café</h4></div>
                            <div class="col-lg-3 col-4"><h4>Precio</h4></div>
                            <div class="col-lg-3 col-4"></div>
                        </div>
                        <th:block th:each="coffeeType : ${coffeTypes}">
                            <div class="row">
                                <div class="col-lg-4 col-4" th:text="${coffeeType.description}"></div>
                                <div class="col-lg-3 col-4" th:text="'$ '+${coffeeType.price}"></div>
                                <div class="col-lg-3 col-4"><input type="radio" class="coffee-radio" th:field="*{coffeeType}" th:value="${coffeeType}" th:attr="price=${coffeeType.price}" name="coffee-radio"></div>
                            </div>
                        </th:block>
                    </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Elija si quiere ponerle algo extra</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-4"><h4>Opción</h4></div>
                            <div class="col-lg-3 col-4"><h4>Precio</h4></div>
                            <div class="col-lg-3 col-4"></div>
                        </div>
                        <th:block th:each="extraOption : ${extraOptions}">
                            <div class="row">
                                <div class="col-lg-4 col-4" th:text="${extraOption.description}"></div>
                                <div class="col-lg-3 col-4" th:text="'$ '+${extraOption.extraPrice}"></div>
                                <div class="col-lg-3 col-4"><input type="checkbox" class="extras-checkbox" th:field="*{options}" th:value="${extraOption}" th:attr="price=${extraOption.extraPrice}"></div>
                            </div>
                        </th:block>
                    </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">Precio total</div>
                        <div class="col-3">$ <span id="precio-total">0</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <button type="button" class="btn btn-success" id="order-form-submit">Sub</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script th:src="@{/js/coffee.js}"></script>
<script th:src="@{/webjars/jquery-validation/1.17.0/jquery.validate.js}"></script>
<script th:src="@{/webjars/github-com-macek-jquery-serialize-object/2.5.0/jquery.serialize-object.js}"></script>

<script>
    $(document).ready(function () {
        COFFEE.init();
    });
</script>

</body>
</html>